######################
# Intellijidea files #
######################
/build
/out
/.idea
*.iml

# exceptions
# !build/jacoco/
# !build/jacoco/**/*
# !build/jacocoHtml/
# !build/jacocoHtml/**/*
# !build/reports/
# !build/reports/**/*


################
# Gradle files #
################
/.gradle