######################
# Intellijidea files #
######################
/build
/out
/.idea
*.iml

# exceptions
!build/jacoco/
!build/jacoco/**/*


################
# Gradle files #
################
/.gradle